<style>
body {
  margin-left: 50px;
  margin-top: 50px;
}
h1 {
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.8em;
  margin-left: 70px;
  margin-top: 100px;
  color: #555;
}
p {
  font-family: 'Cutive Mono', monospace;
  font-size: 1.2em;
  margin-left: 70px;
  margin-right: 800px;
}
</style>
