<style>

body {
}
h1 {
  font-family: 'Quicksand', 'Helvetica', sans-serif;
  font-size: 4em;
  text-align: center;
}
h2 {
  font-family: 'EB Garamond', 'Helvetica', sans-serif;
  font-size: 1.2em;
  text-align: center;
}
p {
  font-family: 'EB Garamond', 'Times', serif;
  font-size: 1.4em;
}
.post_container a {
  font-family: 'EB Garamond', 'Times', serif;
  font-size: 1.4em;
}
.post_container {
  padding-bottom: 250px;
}
#text_block {
  padding: 50px 32% 0 32%;
}
#post_heading {
  padding-top: 50px;
}
#post_subheading {
  padding: 50px 32% 0 32%;
  font-weight:400;
}
.first_letter {
  font-size: 1.2em;
  font-weight: bold;
}
#scroll_progress {
  width: 100%;
  height: 1px;
  background-color: black;
  position: fixed;
}

</style>
