<style>

body {
}
h1 {
  font-family: 'Quicksand', 'Helvetica', sans-serif;
  font-size: 4em;
  text-align: center;
}
h2 {
  font-family: 'EB Garamond', 'Helvetica', sans-serif;
  font-size: 1.2em;
  text-align: center;
}
p {
  font-family: 'EB Garamond', 'Times', serif;
  font-size: 1.3em;
  text-align:justify;
}
.post_container a {
  font-family: 'EB Garamond', 'Times', serif;
  font-size: 1.3em;
}
.post_container {
  margin: 10px 15%;
  padding-bottom: 120px;
  text-align:center;
}

.chart_div {
  margin: 20px 0;
}

#post_heading {
  padding-top: 70px;
}
#post_subheading {
  margin-top:40px;
  font-weight:500;
  font-size:1.2em;
}
#text_block {
  margin: 50px 20%;
}
.first_letter {
  font-size: 1.2em;
  font-weight: bold;
}
#scroll_progress {
  width: 100%;
  height: 1px;
  background-color: black;
  position: fixed;
}
select {
  margin: 20px 0;
}

@media (max-width: 1000px) {
  #text_block {
    margin:50px 10%;
  }
  .post_container {
    margin: 10px 5%;
  }
  #post_heading {
    font-size: 3em;
  }
}

</style>
